@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?aey6ud');
    src:  url('fonts/icomoon.eot?aey6ud#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?aey6ud') format('truetype'),
      url('fonts/icomoon.woff?aey6ud') format('woff'),
      url('fonts/icomoon.svg?aey6ud#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-pinterest2:before {
    content: "\ead2";
  }

  /*fin iconos*/


.logo img{
    width: 200px;
    margin: 0 auto;
  }

  h1{
    text-align:center;
  }

  .social-nav li{
      display: inline-block;
      color: #444483;
  }

  .social-nav{
      text-align:center;
    
      
  }
  .social-nav li a:link, a:visited{
      text-decoration: none;
  }

  .social-nav li a:hover, a:focus{
        color:  #e49cb0;
      
  }
  
  .contenedor{
    max-width: 900px;
    height: auto;
    display: flex;
    wrap:flex;  
    justify-content: center;  
    margin: 0 auto;
  }
  
  .underConstruct{
    text-align: center;
    display: none;
    justify-content: center;
    font-size: 200%;
    color: #6a093c;
  }
  
  
  #imagen-entera{
   display: none;
    margin: 0 auto;
    width: 400px;
  }
  
  